<!-- 
  Create a new view that uses a map to display all the listings with the angular-google-maps library. 
  Each listing should be displayed as a marker. Each marker, when clicked on, should display a window that 
  provides the name, code, and address of the listing. 

  Some useful documentation: 
    https://angular-ui.github.io/angular-google-maps/#!/api/google-map
    https://angular-ui.github.io/angular-google-maps/#!/api/markers
    https://angular-ui.github.io/angular-google-maps/#!/api/windows
  -->